@mixin dashboard-center {
    width: 85%;
    min-height: calc(100vh - 70px);
    margin: 130px 20px;
    padding: 20px;
}

.dashboard {
    @include dashboard-center;

    &--error {
        @include dashboard-center;
        text-align: center;
        color: $color-red;
    }
}

@media (max-width: 768px) {
    .dashboard {
        margin: 400px 0px;
        padding-top: 150px;
    }
}
