@mixin border-bottom {
    border-bottom-width: 1px;
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, oklch(0.2 0 0) 0%, oklch(0.74 0.01 147.23) 100%);
    border-bottom-style: solid;
    box-shadow: var(--main-box-shadow__navbar);
}

.app {
    .navbar {
        @include border-bottom;
        position: relative;
        width: 100%;
        .navbar__wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;


            .navbar__wrapper-left {
                display: flex;
                gap: 10px;
                align-items: center;

                .navbar__section {
                    padding: 10px;

                    .navbar__routerLink {
                        text-decoration: none;
                        cursor: pointer;
                    }
                }
            }
            .navbar__wrapper-right {
                display: flex;
                gap: 5px;
                .navbar__section {
                    padding: 5px;
                }
            }
        }
    }
}

@media (max-width: 769px) {
    .app {
        .navbar {
            position: static;

            .navbar__wrapper {
                flex-direction: column;

                .navbar__wrapper-left,
                .navbar__wrapper-right {
                    flex-direction: column;
                    align-items: center;
                    margin: 0;
                }
            }
        }
    }
}
