@use '@angular/material' as mat;

@include mat.elevation-classes();
@include mat.app-background();

$theme-primary: mat.m2-define-palette(mat.$m2-indigo-palette, 500);
$theme-warn: mat.m2-define-palette(mat.$m2-red-palette);
$theme-accent: mat.m2-define-palette(mat.$m2-green-palette);

$theme: mat.m2-define-light-theme((
  color: (
    primary: $theme-primary,
    accent: $theme-accent,
    warn: $theme-warn
  ),
  typography: mat.m2-define-typography-config(),
));
@include mat.all-component-themes($theme);
