<div class="navbar__wrapper-left">
    <div class="navbar__section">
        <app-icon [nameIcon]="icon_left ? 'keyboard_double_arrow_right' : 'keyboard_double_arrow_left'"
                  (click)="toggleMenu.emit(); icon_left=!icon_left"
                  [ariaLabel]="'Open / Close menu'" 
                  [styleIcon]="`cursor: pointer;`" />
    </div>
    @if(icon_left) {
    <div class="navbar__section">
        <app-router-link [routerPath]="'/grade/configuration-grade'" 
                         [cssClass]="'navbar__routerLink'"
                         [routerLinkTitle]="'Settings grade'" />
    </div>
    <div class="navbar__section">
        <app-router-link [routerPath]="'/grade/preview-grade'" 
                         [cssClass]="'navbar__routerLink'"
                         [routerLinkTitle]="'Preview grade'" />
    </div>
    }
</div>