<div class="navbar__wrapper-left">
    <div class="navbar__section">
        <mat-icon aria-hidden="true" (click)="toggleMenu.emit(); icon_left=!icon_left"
            fontIcon="{{ icon_left ? 'keyboard_double_arrow_right' : 'keyboard_double_arrow_left' }}" />
    </div>
    @if(icon_left) {
    <div class="navbar__section">
        <app-router-link [routerPath]="'/grade/configuration-grade'" 
                         [cssClass]="'navbar__routerLink'"
                         [routerLinkTitle]="'Settings grade'" />
    </div>
    <div class="navbar__section">
        <app-router-link [routerPath]="'/grade/preview-grade'" 
                         [cssClass]="'navbar__routerLink'"
                         [routerLinkTitle]="'Preview grade'" />
    </div>
    }
</div>